<h5>Eexmplos de Pipes</h5>

<!-- Aninhando pipes só ir colocando o |, o último será o que prevalece -->
<p>Título: {{ livro.titulo | uppercase | lowercase | camelCase }}</p>
<!-- "(numero de casas decimais antes da vírgula).(número de casas decimais depois da vírgula, nesse caso 1-2, é no mínimo 1 e no máximo 2)" -->
<p>Estrelas: {{ livro.rating | number : "1.1-2" }}</p>
<p>Páginas: {{ livro.numeroPaginas | number }}</p>
<!-- Transformando o preço em moeda brasileira R$ -->
<p>Preço: {{ livro.preco | currency : "BRL" }}</p>
<!-- Transformando a data em padrão brasileiro -->
<p>Data Lançamento: {{ livro.dataLancamento | date }}</p>
<p>Url: {{ livro.url }}</p>

<br />

<!-- transformando o objeto para um visualização em json -->
<P>Livro: {{ livro | json }}</P>

<input type="text" [(ngModel)]="filtro" />

<br />

<input type="text" #novoValor />

<!-- Aqui é onde o uso do pipe puro vem a tona, como ele é puro, ao adicionar um elemento e fazer a pesquisa do mesmo, ele não retorna do novo valor inserido, pois ele não olha para essas modificações do value -->
<button (click)="addCurso(novoValor.value)">Add curso</button>

<h4>Pipe puro</h4>

<ul>
  <li *ngFor="let curso of cursos | filtroArray : filtro">{{ curso }}</li>
</ul>

<h4>Pipe impuro</h4>

<ul>
  <li *ngFor="let curso of cursos | filtroArrayImpuro : filtro">{{ curso }}</li>
</ul>

<h4>Maneira correta de usar filtros no projeto</h4>

<ul>
  <li *ngFor="let curso of obterCurso()">{{ curso }}</li>
</ul>
